{% extends "featurerequest/base.html"%}
{% load static %}
{% block mainContent %}

<div class="col-md-8">
    {% if feature_form.errors %}
        {% for error in feature_form.non_field_errors %}
            <div class="alert alert-danger non-field-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
<form role="form" class="form-horizontal" id="login-form" method="post" action="{% url 'featurerequest:add_features' %}"
data-bind="submit: doSomething">
    {% csrf_token %}
    {{ feature_form.as_p }}
    <input type="submit" value="Submit" />
</form>
</div>
<script type="text/javascript">
    var viewModel = {
        doSomething : function(formElement) {
            if(formElement.priority.value < 0)
            {
                alert("Priority can not be negative.");
                return false;
            }

            return true;
        }
    };
    ko.applyBindings(viewModel);
</script>
{% endblock mainContent %}